.midallign{
    margin: auto;
    width: 80%;
    text-align: center;
    margin:0% 10% 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    /* border: 1px solid black; */
}
.terminalbox{
    width: 100%;
    -webkit-filter: drop-shadow( 4px 4px 6px var(--shadow));
    filter: drop-shadow( 3px 3px 6px var(--shadow));
    border: var(--borderwidth) solid var(--dark);
    border-radius: 20px;
}
#head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}
#bar {
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: #DAD9D9;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    border-radius: 20px 20px 0px 0px;
}
#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -47%;
    bottom: -20%;
    position:relative;
}
#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -44%;
    bottom: 40%;
    position:relative;
    display: block;
}
#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -41%;
    bottom: 99%;
    position:relative;
    display: block;
}
#screen {
    background-color: var(--dark);
    width: 100%;
    height: 650px;
    border-radius: 0px 0px 20px 20px;
    margin: 0 auto;
    padding: 1px;
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
    font-weight: 500px;
    overflow: hidden;
}
.font {
    color: var(--light);
    font-family: monospace;
    text-align: left;
    position: static;
}
.newliner{
    color: rgb(0, 255, 0);
    font-family: monospace;
}
.divideabout{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    margin-top: 50px;
}
.showscreen{
    width: 70%;
    height: 400px;
    background-color: var(--theme);
    border-radius: 40px 0px 0px 40px;
    border: 2px solid black;
}
.showbutton{
    width: 30%;
    height:  400px;
    background-color: var(--light2);
    border-radius: 0px 40px 40px 0px;
    border: 2px solid black;
    padding-top: 2px;

}
.aboutbutton{
    width: 95%;
    height: 14%;
    border-radius: 40px;
    background-color: var(--mid);
    margin:2.5px 0px 2.5px 0px;
    border: 4px solid var(--dark);  
    color: var(--theme);
    font-size: max(25px,2vw);
}

.aboutbutton:hover{
    background-color: var(--dark);
    margin:2.5px 0px 2.5px 0px;
    border: 4px solid var(--mid);
    color: var(--theme); 
    cursor: pointer;
    }
.inshow{
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 40px 0px 0px 40px;
    margin-top: 10px;
}
.showscreen img{
    width: 100%;
    height: 100%;
    border-radius: 40px 0px 0px 40px;
}
.showscreen iframe{
    width: 100%;
    height: 100%;
    border-radius: 40px 0px 0px 40px;
} 
.myaboutpic{
    width: 50%;
    float: left;
}

#myaboutdata{
    width: 50%;
    float: right;
    font-size: 25px;
}

#myaboutdata section{
    width: 100%;
    height: 20%;
    padding: 20px;
}

.aboutwhat{
    color: var(--mid);
    
}
.aboutthis{
    color: var(--dark);
    
}






@media screen and (max-width: 800px) {        
    .midspan{
        background-color: var(--mid);
        width: 98%;
        padding: 5px;
    }
    #red{
        left: -44%;
    }
    #yellow{
        left: -37%;
    }
    #green{
        left: -30%;
    }
    #screen {
        font-size: 12px;
        font-weight: 500px;
    }
    #screen p{
        margin-top: -1px;
    }
        
    .divideabout{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        -webkit-filter: drop-shadow( 4px 4px 6px var(--shadow));
        filter: drop-shadow( 3px 3px 6px var(--shadow));
        border: var(--borderwidth) solid var(--dark);
    }
    .showscreen{
        width: 100%;
        height: 600px;
        background-color: var(--theme);
        border-radius: 40px 40px 0px 0px;
        border: 2px solid black;
    }
    .showbutton{
        width: 100%;
        height:  300px;
        padding-top: 0px;
        background-color: var(--light2);
        border-radius: 0px 0px 40px 40px;
        border: 2px solid black;

    }
    .inshow{
        border-radius: 40px 40px 0px 0px;
    }
    .showscreen img{
        width: 100%;
        height: 100%;
        border-radius: 40px 40px 0px 0px;
    }
    
    .showscreen iframe{
        width: 100%;
        height: 100%;
        border-radius: 40px 40px 0px 0px;
    }
    
.myaboutpic{
    width: 100%;
    margin: auto;
}

#myaboutdata{
    width: 100%;
    float: right;
    font-size: 20px;
    text-align: 20px;
}

#myaboutdata section{
    width: 100%;
    height: 20%;
    padding: 10px;
}

}