.pages  {
    position: relative;
    margin:  2vw 4vw ;
    top: 0px;
    left: 0px;
    width: 92vw;
    z-index: 1;
}

.card-container {

	align-items: start;
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
}

.card {
	justify-content: center;
    width: 350px;
    height: 350px;
}
.card:hover{
  border: 1px solid rgb(253, 253, 253);
  font-size: 30px;
}
.menu{
    position: relative;
    width: 98%;
    padding:8px;
    text-align: center;
    margin: 0vw 0vw 4vw  0vw;
    border-radius: 30px;
    background-color: var(--light2);
    color: var(--dark);
}

.menu:hover{
  background-color: var(--mid);
}
.ham{
    color: var(--dark2);
    margin: 0px 20px ;
}   
